{% include 'admin_header.html'%}

<center>
    <h3 style="margin-top: 100px;">Send Reply</h3>
    <form method="post">
        <table style="margin-top: 50px;">
            <tr>
                <td><textarea name="rep" class="form-control" rows="6" cols="30" required></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="submit" class="btn btn-warning"></td>
            </tr>
        </table>
    </form>
</center>



{% include 'footer.html'%}
